h1 {
    text-align: center;
}

#container {
    width: 90%;
    margin: auto;
}

@media (min-width: 600px) {
    .columns {
        display: flex;
        justify-content: space-between;
    }

    #notes-list {
        flex-basis: 70%;
        order: 1;
    }

    #notes-search {
        flex-basis: 25%;
        order: 2;
    }

    #songs-search {
        flex-basis: 70%;
    }

    #songs-label-search {
        flex-basis: 25%;
    }
}

@media (max-width: 600px) {
    .label-list {
        display: flex;
        flex-flow: row wrap;
    }

    .label-list label {
        padding-right: 15px;
    }
}

#songs-list table {
    width: 100%;
}

#time-column {
    width: 30px;
}

#label-column {
    width: 150px;
}

#genre-column {
    width: 150px;
}

#edit-column {
    width: 50px;
}

#delete-column {
    width: 50px;
}

.icon_column {
    text-align: center;
}

.create-button {
    margin-bottom: 5px;
}