<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sNotes</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div id="vue-container">
    <div id="header">
        <h1>sNotes</h1>
    </div>

    <div id="list" v-if="list">
        <div class="columns">
            <div id="songs-search">
                <h2>Search</h2>
                <form class="pure-form pure-form-stacked">
                    <fieldset>
                        <input id="song-title-search" type="text" class="pure-input-1" placeholder="Title"/>
                        <input id="song-genre-search" type="text" class="pure-input-1" placeholder="Genre"/>
                        <input id="song-note-text-search" type="text" class="pure-input-1" placeholder="Note search">
                    </fieldset>
                </form>
                <div class="pure-controls">
                    <button class="pure-button pure-button-primary">Reset</button>
                </div>
            </div>

            <div id="songs-label-search">
                <h3>Labels</h3>
                <form class="pure-form pure-form-stacked">
                    <fieldset>
                        <div class="label-list pure-control-group">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div id="songs-list">
            <h2>Songs</h2>
            <button v-on:click="newSong" class="create-button pure-button pure-button-primary">Create song</button>
            <table class="pure-table pure-table-horizontal">
                <thead>
                <tr>
                    <th class="title-column">Title</th>
                    <th class="genre-column">Genre</th>
                    <th class="edit-column">Edit</th>
                    <th class="delete-column">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="song in songs">
                    <td>{{ song.title }}</td>
                    <td>{{ song.genre }}</td>
                    <td class="icon_column"><i v-on:click="editSong(song)" class="fas fa-pencil-alt"></i></td>
                    <td class="icon_column"><i v-on:click="$emit('song-removed', song)" class="fas fa-trash-alt"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="detail" v-else>
        <div id="song-details">
            <h2>Details</h2>
            <form class="pure-form pure-form-stacked">
                <fieldset>
                    <input id="song-title-detail" type="text" class="pure-input-1" placeholder="Title" v-model="currentSong.title"/>
                    <input id="song-genre-detail" type="text" class="pure-input-1" placeholder="Genre" v-model="currentSong.genre"/>
                </fieldset>
            </form>
            <div class="pure-controls">
                <button v-on:click="saveSong" class="pure-button pure-button-primary">Save</button>
                <button v-on:click="toList" class="pure-button pure-button-primary">Return to list</button>
            </div>
        </div>

        <div class="columns">
            <div id="notes-search">
                <form class="pure-form pure-form-stacked">
                    <h2>Search</h2>
                    <fieldset>
                        <input id="note-text-search" type="text" class="pure-input-1" placeholder="Text search">
                        <div class="pure-controls">
                            <button class="pure-button pure-button-primary">Reset</button>
                        </div>
                        <h3>Labels</h3>
                        <div class="label-list pure-control-group">
                        </div>
                    </fieldset>
                </form>
            </div>

            <div id="notes-list">
                <h2>Notes</h2>
                <button v-on:click="createNote" class="create-button pure-button pure-button-primary">Create note</button>
                <table class="pure-table pure-table-horizontal">
                    <thead>
                    <tr>
                        <th class="time-column">Time</th>
                        <th class="note-column">Note</th>
                        <th class="label-column">Labels</th>
                        <th class="delete-column">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template>
                        <note-row v-for="note in currentSong.notes"
                                  :key="note.id"
                                  :note="note">
                        </note-row>
                    </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script src="src/app.js"></script>
</html>